@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
  font-family: Baserkville;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: Inconsolata;
  src: url(../fonts/Inconsolata_Expanded-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle, rgb(237, 253, 6) 6%, rgb(224, 168, 12) 30%, rgb(231, 8, 8) 98%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 250px;
}

.nlinks {
  flex: 1;
  text-align: right;
}

.nlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nlinks ul li a {
  color: #ddf50a;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}


.nlinks ul li a:hover::after {
  width: 100%;
}

.nlinks li a:hover {
  color: #174029;
  color: #fff;
  box-sizing: content-box;
  outline: none;
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.nlinks li a:visited {
  font-style: italic;
  color: #850404;

}

.nlinks li a:active {
  color: #253a49;
}

.head {
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  text-shadow: 1px 1px 1px rgb(251, 255, 0), 2px 2px 1px rgb(255, 174, 0);
  text-align: left;
  margin: 10px;
  text-align: center;

}

.para {
  font-family: Baskerville;
  font-size: 16px;
  color: #0a0a0a;
  line-height: 1.3;
  word-spacing: 2px;
  text-align: justify;
  padding-top: 50px;
  width: auto;
  border: 1px solid #fff;
  padding: 50px;
  margin: 20px;
  background: rgba(252, 254, 250, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(252, 254, 250, 0.01);
}

.par {
  margin-top: 0;
  margin-left: 100px;
  align-content: center;
  padding: 2rem 2rem;
}

.ch {
  display: inline-block;
  padding: 10px;
}

h2 {
  margin: 15px;
  text-decoration: underline;
  font-family: Baskerville;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 10px;


}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.img {
  width: 100%;
  height: 100%;
}
.mp3 {
  padding: 10px;
  background: transparent;
}


.txt {
  font-family: Inconsolata;
  font-size: 14px;
  padding-left: 25px;
  justify-content: center;
  flex: content;
  color: #030200;

}

.foot {
  width: 100%;
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 100px 0 30px;
  font-size: 16px;
  line-height: 20px;
}

.hold {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

footer img {
  width: 250px;
}

.col {
  flex-basis: 25%;
  padding: 20px;
}

.foot ul li {
    list-style: none;
    margin: 12px;
}

.foot ul li a {
    text-decoration: none;
    color: #764330;
}
.foot ul li a:hover {
  text-decoration: underline;
  color: #fff;
  text-transform: uppercase;
}
.foot ul li a:visited {
  text-decoration: none;
  color: blue;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

form ion-icon {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  color: #fff;
}

form button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}